.book-avatar {
  height: 160px;
}

.no-image {
  opacity: .5;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 120px;
}

li {
  margin-left: 20px
}

/* .book {
  display: block;
  max-width: 140px;
  text-align: center;
  margin: 10px 10px 20px;
  padding: 5px 5px 15px;
  border-bottom: 2px solid #ccc;
}
 */

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer select {
  
  width: 100%;
  height: 25px;
  font-size: 12px;
  cursor: pointer;
}